<!DOCTYPE html>
<html lang="{{ .Site.Language.Locale | default "en" }}" class="h-full w-full overflow-hidden">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ default (printf "%s | %s" .Title .Site.Title) .Params.seo_title }}</title>
    {{ if .Site.Params.disablePostCSS }}
    <link rel="stylesheet" href="/css/style.css?v={{ now.Unix }}">
    {{ else }}
    {{ $css := resources.Get "css/main.css" | css.PostCSS }}
    <link rel="stylesheet" href="{{ $css.RelPermalink }}">
    {{ end }}
</head>
<body class="h-full w-full overflow-hidden m-0 p-0 bg-stone-950">
    {{ block "main" . }}{{ end }}
</body>
</html>
